<% provide(:title, "Contact") %>

<h1>Contact</h1>

<p><%= @name %> is <%= @adj %> in her office Monday through Friday between 9am and 5pm,
unless she is <%= @profaction %>. (The Outlook calendar is usually correct.) </p>

<p>If the office door is open, you are invited to stop in 
to talk.  If the door is closed, please come back during office hours (posted on the door
and listed below) or make an appointment. </p>

<p>At other times, you may find her around campus <%= @adv %> <%= @act %>.  If you ask a 
question during these activities, there is a <%= @result %>% probability that the answer will be <%= @result2 %>% correct.  </p>

<h2>Office Hours</h2>
<p>Office hours will be determined at the beginning of the term, based on a poll of
students.  If you need to meet with me before that, please send me an email at johnsonba at grinnell.edu</p>