<% provide(:title, "Contact") %>

<h1>Contact</h1>

<p><%= @name %> is <%= @adj %> in her office Monday through Friday between 9am and 5pm,
unless she is <%= @profaction %>. (The Outlook calendar is usually correct.) </p>

<p>If the office door is open, you are invited to stop in 
to talk.  If the door is closed, please come back during office hours (posted on the door
and listed below) or make an appointment. </p>

<p>At other times, you may find her around campus <%= @adv %> <%= @act %>.  If you ask a 
question during these activities, there is a <%= @result %>% probability that the answer will be <%= @result2 %>% correct.  </p>

<h2>Office Hours</h2>
<% t = Time.now %>
<p><%= t.strftime("Today is %B %d, %Y!") %>


<% if t.tuesday? %>
	<p>I have office hours today from 10 am to noon, 1 pm to 2 pm, and 4 pm to 5 pm.</p>
<% elsif t.thursday? %>
	<p>I have office hours today from 11 am to noon.</p>
<% else %>
	<p>I do not have office hours today, but if you need to meet with me, contact me at johnsonba@grinnell.edu to arrange an appointment.<p>
<% end %>

<p>Generally, my office hours schedule this fall is:</p>
<p>Tuesdays 10 am to noon; 1 pm to 2 pm; 4 pm to 5 pm    
	<p>Thursdays 11 am to noon
	(except when we have Convocation)<p>Other times are possible by appointment!    
<p>Remember, my office is in Noyce 2811 (second floor ... not third).    </p>
<p>If the door is closed, please assume that I am meeting with someone. If none of these times work for you, check
 <a href="https://outlook.office365.com/owa/calendar/8ad4300a21d343ba8098d7a8e2af86a2@grinnell.edu/0aedf2fe8ea048a086a0c96cca17b6562741702702650277319/calendar.html">
 my calendar</a> for an available time and email me to set up an appointment. </p>

