<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "CSC 105", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Schedule", schedule_path %></li>
				<li><%= link_to "Labs", labs_path %></li>
				<li><%= link_to "Homework", homework_path %></li>
				<li><%= link_to "Deadlines", deadlines_path %></li>
				<li><%= link_to "Resources", resources_path %></li>
				<li><%= link_to "Help", help_path %></li>
			</ul>
		</nav>
	</div>
</header>